body {
	margin: 0; /* getting rid of margin on the edges */
	overflow: hidden; /* there is no scrollbar, the canvas is the actual whole screen */
	position: relative;

	font-family: "Courier New", Courier, monospace;
}
canvas {
	z-index: 0;
}

#info, #pause {
	justify-content: center;
	width: 50%;
	height: 65%;

	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	visibility: hidden;

	background-color: brown;
	border-radius: 20px;
	border-color: white;
	border-width: 6px;
	border-style: solid;

	padding: 100px;

	z-index: 899;
}
#pause {
	background-color: dodgerblue;
}
#name, #title {
	font-size: 85px;
	text-align: center;
	color: white;
}
#explaination {
	font-size: 30px;
	text-align: center;
	color: black;
}
#understoodBtn, #backBtn {
	font-size: 50px;
	position: absolute;
	background-color: dodgerblue;
	border-radius: 15px;
	border-color: white;
	border-width: 4px;
	border-style: solid;
	top: 85%;
	left: 50%;
	transform: translate(-50%);
	z-index: 900;
}
#continueBtn {
	font-size: 50px;
	position: absolute;
	background-color: dodgerblue;
	border-radius: 15px;
	border-color: white;
	border-width: 4px;
	border-style: solid;
	top: 75%;
	left: 50%;
	transform: translate(-50%);
	z-index: 900;
}
#continueBtn, #backBtn {
	background-color: purple;
	color: white;
}
#understoodBtn:hover, #continueBtn:hover, #backBtn:hover {
	background-color: grey;
	cursor: pointer;
}
